{{ define "main"}}
<section
  class="hero-inner"
  style="background-image: url(/assets/img/bg-img.png)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h2>Choose a meal plan</h2>
        <p>To keep things fresh your meals are delivered every day</p>
      </div>
    </div>
  </div>
</section>

<!-- ======= About Section ======= -->
{{with .Params.about}}
<section class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <img src="{{.image}}" alt="About" class="img-fluid" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h2><strong>{{.name}}</strong></h2>
        <p>{{.content}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End About Section -->

<!-- ======= Pricing Section ======= -->
{{ with .Params.pricing}}
<!---->
{{if .enable}}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">
    <!---->
    {{with .how_to_work}}
    <div class="how-to-work text-center">
      <div class="row text-center">
        {{range .items}}
        <div class="col-lg-4 item mb-5">
          <h5><strong>{{.title}}</strong></h5>
          <p>{{.content}}</p>
        </div>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</section>
<!-- End Pricing Section -->
{{end}}
<!---->
{{end}}
<!-- End Clients Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div>
      <iframe
        style="border: 0; width: 100%; height: 270px"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
<!-- End Contact Section -->

<!-- ======= Location Section ======= -->
{{ with .Params.locations}}
<!---->
{{if .enable}}
<section class="locations">
  <div class="container">
    <header class="text-center mb-5">
      <h2>{{.title}}</h2>
    </header>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-9">
        <div class="row">
          {{range .items}}
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <img
                src="{{.image}}"
                alt="Location Header"
                class="img-fluid mb-3"
              />

              <div class="content">
                <h4><b>{{.title}}</b></h4>

                <p>{{.address}}</p>
                <p>TEL: {{.tel}}</p>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End Location Section -->

<!-- ======= coupon Section ======= -->
{{with .Params.coupon}}
<!---->
{{if .enable}}
<section class="coupon">
  <div class="container">
    <div class="row content justify-content-center">
      <div class="col-lg-9 pt-4 pt-lg-0 text-center">
        <h2><strong>{{.title}}</strong></h2>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-4 col-md-9 col-sm-12">
        <form>
          <div class="form-group">
            <label for="name">Your name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>

          <button type="submit" class="btn btn-primary mt-3">
            Start free trial today
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End coupon Section -->

{{end}}
