{{ define "main"}}

<!---->
{{with .Params.hero_section}}
<!---->
{{if.enable}}
<section class="hero-inner" style="background-image: url({{.bg_image}})">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h2>{{.title}}</h2>
        <p>{{.sub_title}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}

<!-- ======= About Section ======= -->
{{with .Params.about}}
<section class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6 corner p-3">
        <img src="{{.image}}" alt="About" class="img-fluid" />
      </div>
      <div class="col-lg-6 p-3">
        <h2><strong>{{.title}}</strong></h2>
        <p>{{.content}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End About Section -->
<!-- ======= Pricing Section ======= -->
{{ with .Params.contact_details}}
<!---->
{{if .enable}}
<!-- ======= Pricing Section ======= -->
<section class="pricing">
  <div class="container">
    <!---->
    <div class="how-to-work text-center">
      <div class="row text-center">
        {{range .items}}
        <div class="col-lg-4 item mb-2">
          <i class="{{.icon}} mb-3"></i>
          <h5><strong>{{.title}}</strong></h5>
          <p>{{.content}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->
{{end}}
<!---->
{{end}}
<!-- End Clients Section -->

<!-- ======= Contact Section ======= -->
{{ with .Params.contact_details}}
<section id="contact" class="contact">
  <div class="container">
    <div>
      <iframe
        style="border: 0; width: 100%; height: 370px; border-radius: 8px"
        src="{{.map}}"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
{{end}}
<!-- End Contact Section -->

<section class="locations">
  <div class="container">
    <header class="text-center mb-5">
      <h2>More Locations</h2>
    </header>
    <div class="row justify-content-center align-items-center">
      {{ range first 3 (where site.RegularPages "Section" "locations")}}
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          {{ with.Params.about}}
          <img src="{{.image}}" alt="Location Header" class="img-fluid mb-3" />
          {{end}}

          <div class="content">
            <h4>
              <b
                ><a href="{{.Permalink}}"
                  >{{ with.Params.about}}{{.title}}{{end}}</a
                ></b
              >
            </h4>
            {{ with.Params.about}}

            <p>{{.address}}</p>
            <p>TEL: {{.tel}}</p>
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<!-- End Location Section -->

<!-- ======= coupon Section ======= -->
{{with .Params.coupon}}
<!---->
{{if .enable}}
<section class="coupon">
  <div class="container">
    <div class="row content justify-content-center">
      <div class="col-lg-9 pt-4 pt-lg-0 text-center">
        <h2><strong>{{.title}}</strong></h2>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-4 col-md-9 col-sm-12">
        <form>
          <div class="form-group">
            <label for="name">Your name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>

          <button type="submit" class="btn btn-primary mt-3">
            Start free trial today
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End coupon Section -->

{{end}}
