{{ define "main"}}

<!---->
{{with .Params.hero_section}}
<!---->
{{if.enable}}
<section class="hero-inner" style="background-image: url({{.bg_image}})">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h2>{{.title}}</h2>
        <p>{{.sub_title}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}

<!-- ======= About Section ======= -->
{{with .Params.main_story}}
<section class="about">
  <div class="container">
    <div class="row content">
      <div
        class="col-lg-4 bg-img"
        style="background-image: url({{.image}}) ;"
      ></div>

      <div class="col-sm-12 bg-img2 d-block d-sm-none">
        <img src="{{.image}}" alt="Image" class="img-fluid" />
      </div>

      <div class="col-lg-5 col-sm-12 p-4 bg-color text-sm-center text-md-start">
        <h2><strong>{{.name}}</strong></h2>
        <p>{{.content}}</p>
        <a href="{{.link}}">Watch Tony’s story</a>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End About Section -->

<!-- ======= Location Section ======= -->

<section class="locations">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-9">
        <div class="row">
          {{range .RegularPages}}
          <!---->

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box mt-3">
              {{with .Params.information}}
              <img
                src="{{.img}}"
                alt="Location Header"
                class="img-fluid mb-3"
              />
              {{end}}

              <div class="content">
                {{with .Params.information}}
                <p>{{.description}}</p>
                {{end}}
                <a href="{{.Permalink}}"><strong>Read More</strong></a>
              </div>
            </div>
          </div>

          <!---->
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Location Section -->

<!-- ======= coupon Section ======= -->
{{with .Params.coupon}}
<!---->
{{if .enable}}
<section class="coupon">
  <div class="container">
    <div class="row content justify-content-center">
      <div class="col-lg-9 pt-4 pt-lg-0 text-center">
        <h2><strong>{{.title}}</strong></h2>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-4 col-md-9 col-sm-12">
        <form>
          <div class="form-group">
            <label for="name">Your name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>

          <button type="submit" class="btn btn-primary mt-3">
            Start free trial today
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End coupon Section -->

{{end}}
