{{ define "main" }}

<!-- ======= Hero Section ======= -->
{{with .Params.hero_carousel}}
<!---->
{{if .enable}}
<section id="hero">
  <div
    id="heroCarousel"
    data-bs-interval="5000"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">
      <!-- Slide 1 -->
      {{range .items}}
      <div
        class="carousel-item {{ if .active}} active {{end}}"
        style="background-image: url({{.bg}})"
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">{{.title}}</h2>
            <p class="animate__animated animate__fadeInUp">{{.content}}</p>
            <a
              href="{{.btn_link}}"
              class="btn-get-started animate__animated animate__fadeInUp scrollto"
              >{{.btn_label}}</a
            >
          </div>
        </div>
      </div>
      {{end}}
    </div>

    <a
      class="carousel-control-prev"
      href="#heroCarousel"
      role="button"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bi bi-chevron-left"
        aria-hidden="true"
      ></span>
    </a>

    <a
      class="carousel-control-next"
      href="#heroCarousel"
      role="button"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon bi bi-chevron-right"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End Hero -->

<!-- ======= Clients Section ======= -->
{{ with .Params.top_cta}}
<!---->
{{if .enable}}
<section class="top-cta">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 col-sm-12 text-center">
        <img src="{{.logo}}" alt="Logo" />
        <h2 class="mt-4">{{.title}}</h2>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End Clients Section -->

<!-- ======= Pricing Section ======= -->
<section class="pricing">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-9">
        <header class="text-center mb-5">
          <h2>Meal plansp</h2>
          <p>Meal prep designed for all lifestyles.</p>
        </header>
      </div>
    </div>
    <div class="row">
      {{ range (where site.RegularPages "Type" "meal_feature")}}
      <!---->
      {{ with .Params.meal_plan}}

      <div class="col-lg-4 col-md-6 mt-5">
        <div class="box">
          <div class="img">
            <img src="{{.image}}" alt="Pricing Header" class="img-fluid mb-3" />
          </div>

          <div class="content">
            <h3 class="{{.color}}">{{.name}}</h3>
            <h4>{{.title}}</h4>
            <p>{{.content}}</p>
            <ul>
              {{range .list }}
              <li>{{.}}</li>
              {{end}}
            </ul>
            <h4><sup>{{.currency}}</sup>{{.price}}<span> / {{.per}}</span></h4>
          </div>
          {{end}}
          <div class="btn-wrap mb-3">
            <a href="{{.Permalink}}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>
      <!--end-->
      {{end}}
      <!---->
    </div>
    <!---->
    <div class="row">
      {{ with .Params.details}}
      <div class="details mt-4 text-center">
        <p>{{.para}}</p>
        <a href="{{.btn_link}}">{{.btn_label}}</a>
      </div>
      {{end}}
    </div>
    <!---->
    {{with .Params.how_to_work}}
    <div class="how-to-work mt-5 text-center">
      <div class="row text-center">
        <h2 class="mb-4 mt-5">{{.title}}</h2>
        {{range .items}}
        <div class="col-lg-4 item mt-5 mb-5">
          <h3><span>{{.number}}</span></h3>
          <h5><strong>{{.title}}</strong></h5>
          <p>{{.content}}</p>
        </div>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</section>

<!-- End Clients Section -->

<!-- ======= Order Section ======= -->
{{with.Params.order}}
<!---->
{{ if.enable}}
<section class="order">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-md-9">
        <h2 class="mb-1">{{.title}}</h2>
        <p class="mb-4">{{.subtitle}}</p>
      </div>
    </div>
    <div class="row text-center">
      {{ range.images}}
      <div class="col-lg-3 mt-5">
        <img src="{{.}}" alt="Image" class="img-fluid" />
      </div>
      {{end}}
      <div class="btn mt-5">
        <a href="/">Order Now</a>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}

<!-- ======= Location Section ======= -->

<section class="locations">
  <div class="container">
    <header class="text-center mb-5">
      <h2>{{ with .Params.locations}}{{.title}}{{end}}</h2>
    </header>
    <div class="row justify-content-center align-items-center">
      {{ range first 3 (where site.RegularPages "Section" "locations")}}
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 mb-2">
        <div class="box">
          {{ with.Params.about}}
          <img src="{{.image}}" alt="Location Header" class="img-fluid mb-3" />
          {{end}}

          <div class="content">
            <h4>
              <b
                ><a href="{{.Permalink}}"
                  >{{ with.Params.about}}{{.title}}{{end}}</a
                ></b
              >
            </h4>
            {{ with.Params.about}}

            <p>{{.address}}</p>
            <p>TEL: {{.tel}}</p>
            {{end}}
          </div>
        </div>
      </div>
      {{end}}
      <div class="btn mt-5">
        {{ with .Params.locations}}
        <a href="{{.btn_link}}">{{.btn_label}}</a>
        {{end}}
      </div>
    </div>
  </div>
</section>
<!-- End Location Section -->

<!-- ======= Testimonials Section ======= -->
{{ with .Params.testimonials}}
<!---->
{{if .enable}}
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-9">
        <header class="section-header text-center">
          <h2>{{.title}}</h2>
        </header>
      </div>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="swiper-wrapper">
        {{range .items}}
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
              ><i class="bi bi-star-fill"></i>
            </div>
            <p>{{.content}}</p>
            <div class="profile mt-auto">
              <img src="{{.image}}" class="testimonial-img" alt="{{.name}}" />
              <h3>{{.name}}</h3>
              <h4>{{.position}}</h4>
            </div>
          </div>
        </div>
        {{end}}

        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End Testimonials Section -->

<!-- ======= About Section ======= -->
{{with .Params.about}}
<!---->
{{if .enable}}
<section class="about">
  <div class="container">
    <div class="row content">
      <div
        class="col-lg-4 bg-img"
        style="background-image: url({{.image}}) ;"
      ></div>

      <div class="col-sm-12 bg-img2 d-block d-sm-none">
        <img src="{{.image}}" alt="Image" class="img-fluid" />
      </div>

      <div class="col-lg-5 col-sm-12 p-4 bg-color text-sm-center text-md-start">
        <h2><strong>{{.name}}</strong></h2>
        <p>{{.content}}</p>
        <a href="{{.link}}">Watch Tony’s story</a>
      </div>
    </div>
    <div class="btn mt-4">
      <a href="{{.btn_link}}">{{.btn_label}}</a>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End About Section -->

<!-- ======= Video Section ======= -->
{{with .Params.video}}
<section class="video mb-5">
  <div class="container">
    <div class="row">
      {{ range .links}}
      <div class="col-lg-6">
        <div
          class="customer-bg p-3"
          style="background-image: url({{.img}}); "
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="d-flex justify-content-center">
            <a href="{{.link}}" class="glightbox btn-watch-video"
              ><i class="bi bi-play-fill"></i
            ></a>
          </div>
        </div>
        <p class="name">{{.name}}</p>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
<!-- ======= coupon Section ======= -->
{{with .Params.coupon}}
<!---->
{{if .enable}}
<section class="coupon">
  <div class="container">
    <div class="row content justify-content-center">
      <div class="col-lg-9 pt-4 pt-lg-0 text-center">
        <h2><strong>{{.title}}</strong></h2>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-4 col-md-9 col-sm-12">
        <form>
          <div class="form-group">
            <label for="name">Your name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" />
          </div>

          <button type="submit" class="btn btn-primary mt-3">
            Start free trial today
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End coupon Section -->
{{end}}
