{{ define "main" }}

<!---->
{{with .Params.hero_section}}
<!---->
{{if.enable}}
<section class="hero-inner" style="background-image: url({{.bg_image}})">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h2>{{.title}}</h2>
        <p>{{.sub_title}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-1">Day 1</li>
          <li data-filter=".filter-2">Day 2</li>
          <li data-filter=".filter-3">Day 3</li>
          <li data-filter=".filter-4">Day 4</li>
          <li data-filter=".filter-5">Day 5</li>
        </ul>
      </div>
    </div>
    {{with.Params.dishes}}
    <div class="row portfolio-container">
      {{range .dish}}
      <div class="col-lg-4 col-md-6 portfolio-item filter-{{.day}}">
        <div class="portfolio-wrap">
          <img src="{{.img}}" class="img-fluid" alt="{{.title}}" />
          <div class="portfolio-info">
            <h4>{{.title}}</h4>
            <p>{{.subtitle}}</p>
            <div class="portfolio-links mt-3">
              <a href="{{.buy_btn}}" title="buy now"
                ><i class="bx bx-plus"></i>Buy Now</a
              >

              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#{{.id}}"
              >
                <a>Details</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
</section>
<!-- End Portfolio Section -->

<!-- Modal -->
{{with .Params.dishes}}
<!---->
{{range .dish}}
<div
  class="modal fade"
  id="{{.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{.title}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div
            class="row justify-content-center align-items-center align-items-stretch"
          >
            <div class="col-md-4 p-0">
              <img src="{{.img}}" alt="" class="img-fluid" />
            </div>
            <div class="col-md-4 content p-lg-5 p-sm-2">
              <p>{{.description}}</p>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center align-items-center">
            {{range .items}}
            <div class="col-lg-4 mt-4">
              <div class="title text-center mb-3">
                <h4>{{.title}}</h4>
              </div>
              <ul>
                {{range.list}}
                <li>{{. | safeHTML}}</li>
                {{end}}
              </ul>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
<!---->
{{end}}
<!---->

{{end}}
