{{ define "main" }}
<!---->

{{with .Params.hero_section}}
<!---->
{{if.enable}}
<section class="hero-inner" style="background-image: url({{.bg_image}})">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 text-center">
        <h2>{{.title}}</h2>
        <p>{{.sub_title}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}

<section class="blog">
  <div class="container">
    <div class="row">
      {{ range .Pages}}
      <div class="col-lg-4 mt-4">
        <div class="box">
          {{with .Params.front_info}}
          <img src="{{.image}}" alt="" class="img-fluid" />
          {{end}}
          <div class="content">
            <a href="{{.Permalink}}" class="stretched-link">
              <h5>
                {{.Title}}
                <span>{{ time.Format "Monday, Jan 2, " "2015-01-21" }}</span>
              </h5>
              <p>{{.Description}}</p>
            </a>
            <div class="author">
              {{with .Params.front_info}}
              <img src="{{.author_image}}" alt="" class="img-fluid" />
              <p class="m-0 p-0"><b>By {{.author_name}}</b></p>
              {{end}}
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<!-- End Testimonials Section -->

{{end}}
