{{ define "main"}}
<!---->

{{with .Params.hero}}
<!---->
{{if.enable}}
<section class="hero-inner2" style="background-color: #f7ede2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <h2>{{.title}}</h2>
        <p>{{.sub_title}}</p>
      </div>
      <div
        class="col-lg-6 customer-bg"
        style="background-image: url({{.img}});"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="d-flex justify-content-center">
          <a href="{{.video}}" class="glightbox btn-watch-video"
            ><i class="bi bi-play-fill"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}

<section class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">{{.Content}}</div>
    </div>
  </div>
</section>

<!-- ======= Location Section ======= -->

<section class="locations">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-9">
        <div class="text-center mb-4">
          <h2><b>Related Story</b></h2>
        </div>
        <div class="row">
          {{ range first 3 (where site.RegularPages "Section"
          "customers-story")}}
          <!---->

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box mt-3">
              {{with .Params.information}}
              <img
                src="{{.img}}"
                alt="Location Header"
                class="img-fluid mb-3"
              />
              {{end}}

              <div class="content">
                {{with .Params.information}}
                <p>{{.description}}</p>
                {{end}}
                <a href="{{.Permalink}}"><strong>Read More</strong></a>
              </div>
            </div>
          </div>

          <!---->
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Location Section -->
<!---->
{{end}}
