<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- multilingual SEO optimizations -->
    {{ if .IsTranslated }}
    <!---->
    {{ range .AllTranslations }}
    <link
      rel="alternate"
      hreflang="{{.Lang}}"
      href="{{ .RelPermalink | absLangURL }}"
    />
    {{ end }}
    <link
      rel="alternate"
      hreflang="x-default"
      href="{{ .RelPermalink | absLangURL }}"
    />
    {{ end }}

    <!-- Favicons -->
    <link href="/assets/img/logo.png" rel="icon" />
    <link href="/assets/img/logo.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Noto+Serif+Kannada:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top d-flex align-items-center"
      style="background-color: #6c9286"
    >
      <div class="container d-flex align-items-center">
        <a href="{{ site.BaseURL | absLangURL }}" class="logo me-auto"
          ><img src="/assets/img/logo.png" alt="" class="img-fluid"
        /></a>

        <nav id="navbar" class="navbar">
          <ul>
            {{- $currentNode := . }}
            <!---->

            {{ range .Site.Menus.main }}
            <!---->
            {{- if .HasChildren }}
            <li class="dropdown">
              <a href="{{ .URL | absLangURL }}"
                ><span>{{ .Name }}</span> <i class="bi bi-chevron-right"></i
              ></a>
              <ul>
                {{ range .Children }}
                <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                {{end}}
              </ul>
            </li>
            {{- else }}
            <li>
              <a
                href="{{ .URL | absLangURL }}"
                class='{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active  {{ end }}'
                >{{ .Name }}</a
              >
            </li>
            {{- end }}
            <!---->
            {{- end }}
            <li>
              <a href="/{{.Site.Params.head_link}}" class="getstarted"
                >{{.Site.Params.head_btn}}</a
              >
            </li>

            <!-- Language List -->
            {{ if .IsTranslated }}
            <select
              class="m-2 border-0"
              id="select-language"
              onchange="location = this.value;"
            >
              {{ $siteLanguages := site.Languages}}

              <!---->

              {{ $pageLang := .Page.Lang}}
              <!---->
              {{ range .Page.AllTranslations }}
              <!---->
              {{ $translation := .}}
              <!---->
              {{ range $siteLanguages }}
              <!---->
              {{ if eq $translation.Lang .Lang }}
              <!---->
              {{ $selected := false }}
              <!---->
              {{ if eq $pageLang .Lang}}
              <option
                id="{{ $translation.Language }}"
                value="{{ $translation.Permalink }}"
                selected
              >
                {{ .LanguageName }}
              </option>
              {{ else }}
              <option
                id="{{ $translation.Language }}"
                value="{{ $translation.Permalink }}"
              >
                {{ .LanguageName }}
              </option>
              {{ end }}

              <!---->
              {{ end }}
              <!---->
              {{ end }}
              <!---->
              {{ end }}
            </select>
            {{ end }}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="align-items-center">
            <ol>
              <li>
                Last Updated: {{ .Page.Lastmod.Month }}-{{ .Page.Lastmod.Day }}
              </li>
            </ol>
            <h2>{{.Title}}</h2>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= F.A.Q Section ======= -->
      <section class="faq">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <!-- F.A.Q List 1-->
              {{.Content}}
            </div>
          </div>
        </div>
      </section>
      <!-- End F.A.Q Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer"}}
    <!-- End Footer -->
    {{ partial "scripts"}}
  </body>
</html>
