<footer id="footer">
  <div class="container">
    <div class="logo text-center pt-5">
      <img src="/assets/img/logo.png" alt="Logo" class="img-fluid" />
    </div>
    <div class="credits">
      <div class="social mb-3">
        <a href="/"><i class="bi bi-facebook"></i></a>
        <a href="/"><i class="bi bi-instagram"></i></a>
        <a href="/"><i class="bi bi-twitter"></i></a>
      </div>
      <a href="/">Meal plans</a> | <a href="/">On-demand</a> |
      <a href="/">Locations</a> |
      <a href="/">Blog</a>
      <p>© Food meal Ltd. 2022</p>
    </div>
  </div>
</footer>
